<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_FILE" value="${LOG_PATH}/dateLog/%d{yyyy_MM_dd}_%i.log"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/tripdraw.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="local">
        <logger level="INFO" name="org.springframework.boot">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger level="INFO" name="dev.tripdraw">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="dev, dev1, dev2">
        <logger level="INFO" name="org.springframework.boot">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
        <logger level="INFO" name="dev.tripdraw">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>

    <springProfile name="prod, prod1, prod2">
        <logger level="WARN" name="org.springframework.boot">
            <appender-ref ref="FILE"/>
        </logger>
        <logger level="WARN" name="dev.tripdraw">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>
</configuration>
